.calc {
    border:1px solid darkgrey;
/*    padding:10px; */
    }

tr, td {
    border:1px /*solid darkgrey;
/*  padding:40px; */
    }

.bottoneNum {
    width:50px;
    height:50px;
}

.bottoneUgu {
    width:104px;
    height:50px;
    background-color:cornflowerblue;
}

.bottoneOpe {
    width:50px;
    height:50px;
    background-color:aqua;
}

.risultato {
    width:210px;
    height:50px;
    background-color:aliceblue;
}